header{
    position: relative;
    width: 100%;
    height: 100vh;

    .top-descriptions{
        background-color: rgba(255, 255, 255, 0.1);
    }

    .top-content{
        display: none;
        @include mediaQuery(992px){
            color: $grey;
            font-weight: 600;
            padding: 1rem 0;
            @include displayFlex(initial, space-between, center);
        }
    }

    @include mediaQuery(992px){

        &::before{
            content: '';
            position: absolute;
            top: 7rem;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.1);
        }
    
        &::after{
            content: '';
            position: absolute;
            bottom: 14rem;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.header-menu{
    position: relative;
    margin-top: 1rem;

    @include mediaQuery(992px){
        margin-top: -13rem;
    }

    .hd-menu-items{
        padding: 1rem;

        @include mediaQuery(768px){
            @include displayFlex(initial, space-around, center);
            padding: 0;
        }

        .hd-menu-item{
            margin: 1rem auto;

            .hd-menu-img{
                width: 90px;
                margin: 0 auto;

                img{            
                    border-radius: 50%;
                }
            }
        }
    }

    .hd-menu-description{
        text-align: center;

        p{
            font-size: .9rem;
            color: $grey;

            @include mediaQuery(992px){
                color: $white;
            }
        }
        h4{
            margin: .5rem 0;

            @include mediaQuery(992px){
                color: $white;
            }
        }
    }
}

.hero header{
    height: 450px;

    &::after{
        content: '';
        display: none;
        position: absolute;
        bottom: 14rem;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
    }
}