.testimonials-section{
    margin-top: 7rem;
    margin-bottom: 7rem;

    .testimonials-header{
        text-align: center;
    }

    .testimonials-item{
        padding: 1rem;
        width: 100%;

        p{
            color: $grey;
            text-align: center;
        }

        div{
            text-align: center;
            font-size: 1.5rem;
            margin: 1rem;
        }

        p:last-child{
            font-size: 1rem;
            letter-spacing: 2px;
            color: $grey;
        }

        .testimonial-img{
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            height: 150px;
            width: 150px;
            margin: 2rem auto;

            i{
                position: absolute;
                bottom: 0;
                right: 0rem;
                background-color: $gold;
                color: $white;
                padding: .8rem;
                font-size: 1.2rem;
                border-radius: 50%;
            }
        }
    }

    .img-1{
        background-image: url(/images/person_1.jpg);
    }

    .img-2{
        background-image: url(/images/person_2.jpg);
    }

    .img-3{
        background-image: url(/images/person_3.jpg);
    }

    .img-4{
        background-image: url(/images/person_4.jpg);
    }

    .img-5{
        background-image: url(/images/person_2.jpg);
    }

    .img-6{
        background-image: url(/images/person_1.jpg);
    }
}