header {
  position: relative;
  width: 100%;
  height: 100vh;
}

header .top-descriptions {
  background-color: rgba(255, 255, 255, 0.1);
}

header .top-content {
  display: none;
}

@media screen and (min-width: 992px) {
  header .top-content {
    color: #808080;
    font-weight: 600;
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 992px) {
  header::before {
    content: '';
    position: absolute;
    top: 7rem;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  header::after {
    content: '';
    position: absolute;
    bottom: 14rem;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.header-menu {
  position: relative;
  margin-top: 1rem;
}

@media screen and (min-width: 992px) {
  .header-menu {
    margin-top: -13rem;
  }
}

.header-menu .hd-menu-items {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .header-menu .hd-menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.header-menu .hd-menu-items .hd-menu-item {
  margin: 1rem auto;
}

.header-menu .hd-menu-items .hd-menu-item .hd-menu-img {
  width: 90px;
  margin: 0 auto;
}

.header-menu .hd-menu-items .hd-menu-item .hd-menu-img img {
  border-radius: 50%;
}

.header-menu .hd-menu-description {
  text-align: center;
}

.header-menu .hd-menu-description p {
  font-size: .9rem;
  color: #808080;
}

@media screen and (min-width: 992px) {
  .header-menu .hd-menu-description p {
    color: #FFFFFF;
  }
}

.header-menu .hd-menu-description h4 {
  margin: .5rem 0;
}

@media screen and (min-width: 992px) {
  .header-menu .hd-menu-description h4 {
    color: #FFFFFF;
  }
}

nav {
  width: 100%;
  background-color: #000000;
  padding: 1rem 0;
  z-index: 100;
}

@media screen and (min-width: 992px) {
  nav {
    background-color: initial;
  }
}

nav .logo {
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: #FFFFFF;
}

nav ul {
  position: fixed;
  display: none;
  left: 0;
  top: 3.5rem;
  width: 100%;
  background-color: #000000;
}

@media screen and (min-width: 992px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: initial;
  }
  nav ul .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    right: 0;
    left: initial;
  }
}

nav ul a {
  display: block;
  color: #FFFFFF;
  padding: 1rem 0;
}

@media screen and (min-width: 992px) {
  nav ul a {
    padding: 1rem;
  }
}

nav ul .book-table {
  background-color: #C8A97F;
  margin-bottom: 1rem;
  border-radius: .3rem;
  padding-left: 0.5rem;
}

@media screen and (min-width: 992px) {
  nav ul .book-table {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin: 0;
  }
}

nav .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 1rem;
  top: 1.3rem;
}

@media screen and (min-width: 600px) {
  nav .burger {
    right: 3rem;
  }
}

@media screen and (min-width: 992px) {
  nav .burger {
    display: none;
  }
}

nav .burger .line {
  width: 20px;
  height: 2px;
  margin: 4px;
  background-color: #808080;
}

nav .burger span {
  color: #808080;
  font-weight: 600;
}

.active {
  display: block;
}

nav.scrolled {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
}

nav.scrolled .logo {
  color: #000000;
}

@media screen and (min-width: 992px) {
  nav.scrolled .logo {
    position: absolute;
    line-height: 18px;
    z-index: 100;
  }
}

ul.scrolled {
  background-color: #FFFFFF;
  position: fixed;
  z-index: -1;
}

@media screen and (min-width: 992px) {
  ul.scrolled {
    top: 0;
  }
}

ul.scrolled a {
  color: #000000;
}

ul.scrolled .book-table {
  color: #FFFFFF;
}

@media screen and (min-width: 992px) {
  ul.scrolled .book-table {
    border-radius: 0;
  }
}

.carousel-content {
  height: 100vh;
  width: 100%;
  z-index: -100;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .carousel-content {
    position: absolute;
    top: 0;
  }
}

.carousel-content .slider-items {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.carousel-content .slider-items::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.carousel-content .slider-items span {
  color: #C8A97F;
  font-size: clamp(2.4rem, 5vw, 6rem);
  z-index: 1;
}

@media screen and (min-width: 600px) {
  .carousel-content .slider-items span {
    font-size: 3.5rem;
  }
}

.carousel-content .slider-items h1 {
  color: #FFFFFF;
  font-size: clamp(2.8rem, 5vw, 6rem);
  letter-spacing: 2px;
  z-index: 1;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .carousel-content .slider-items h1 {
    font-size: 3.5rem;
  }
}

.carousel-content .slider-1 {
  background-image: url(/images/bg_1.jpg);
}

.carousel-content .slider-2 {
  background-image: url(/images/bg_2.jpg);
}

.carousel-content .slider-3 {
  background-image: url(/images/bg_3.jpg);
}

.about-section {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .about-section .content-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 2rem;
  }
}

.about-section .content-items .about-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-section .content-items .about-imgs .abt-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 700px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about-section .content-items .about-imgs .abt-img {
    height: 550px;
  }
}

.about-section .content-items .about-imgs .img-1 {
  background-image: url(/images/about.jpg);
}

@media screen and (min-width: 768px) {
  .about-section .content-items .about-imgs .img-1 {
    margin-right: .5rem;
  }
}

@media screen and (min-width: 992px) {
  .about-section .content-items .about-imgs .img-1 {
    margin-right: 1rem;
  }
}

.about-section .content-items .about-imgs .img-2 {
  background-image: url(/images/about-1.jpg);
}

@media screen and (min-width: 992px) {
  .about-section .content-items .about-imgs .img-2 {
    margin-top: 3rem;
  }
}

.about-section .content-items .about-header {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .about-section .content-items .about-header {
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {
  .about-section .content-items .about-header {
    margin-top: 2rem;
  }
}

.about-section .content-items .about-desc {
  margin-top: 2rem;
}

.about-section .content-items .about-desc p {
  color: #808080;
}

.about-section .content-items .about-desc .weekly-openings {
  margin: 1.6rem 0;
}

.about-section .content-items .about-desc .weekly-openings span {
  font-weight: bold;
}

.about-section .content-items .about-desc .tel {
  font-size: 1.4rem;
  font-weight: bold;
  color: #C8A97F;
}

@media screen and (min-width: 768px) {
  .about-section .content-items .about-desc .tel {
    font-size: 2rem;
  }
}

.about-section .about-counters {
  margin-top: 4rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-section .about-counters {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-section .about-counters .counter-items {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .about-section .about-counters .counter-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.about-section .about-counters span {
  margin-top: 2rem;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #C8A97F;
}

.about-section .about-counters p {
  font-size: 1rem;
  color: #808080;
}

.services-section {
  margin: 6rem 0;
  padding: 2rem 0;
  background-color: #FAFAFA;
  text-align: center;
}

.services-section .services-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 5rem;
}

.services-section .services-items .services-item {
  padding: 1rem;
  margin: 2rem 0;
}

.services-section .services-items .services-item i {
  font-size: 2.5rem;
  color: #C8A97F;
}

.services-section .services-items .services-item h3 {
  margin: 1rem 0;
}

.services-section .services-items .services-item p {
  color: #808080;
}

.menu-section {
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.menu-section .menu-header {
  text-align: center;
}

.menu-section .menu-items {
  margin-top: 5rem;
}

@media screen and (min-width: 992px) {
  .menu-section .menu-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.menu-section .menu-items .menu-item {
  border: 0.5px solid #FAFAFA;
}

@media screen and (min-width: 640px) {
  .menu-section .menu-items .menu-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.menu-section .menu-items .menu-item .menu-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.menu-section .menu-items .menu-item .img-1 {
  background-image: url(/images/breakfast-1.jpg);
}

.menu-section .menu-items .menu-item .img-2 {
  background-image: url(/images/breakfast-2.jpg);
}

.menu-section .menu-items .menu-item .img-3 {
  background-image: url(/images/breakfast-3.jpg);
}

.menu-section .menu-items .menu-item .img-4 {
  background-image: url(/images/breakfast-4.jpg);
}

.menu-section .menu-items .menu-item .img-5 {
  background-image: url(/images/breakfast-5.jpg);
}

.menu-section .menu-items .menu-item .img-6 {
  background-image: url(/images/breakfast-6.jpg);
}

.menu-section .menu-items .menu-item .menu-description {
  width: 100%;
  padding: 1rem;
}

.menu-section .menu-items .menu-item .menu-description h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
}

.menu-section .menu-items .menu-item .menu-description h4 span {
  color: #C8A97F;
}

.menu-section .menu-items .menu-item .menu-description p {
  font-size: 1.1rem;
  margin: 0.7rem 0;
  color: #808080;
}

@media screen and (min-width: 768px) {
  .menu-section .menu-items .menu-item .menu-description p {
    margin: 1rem 0;
  }
}

.menu-section .menu-items .menu-item .menu-description .order-btn a {
  display: inline-block;
  padding: .7rem 1rem;
  background-color: #C8A97F;
  color: #FFFFFF;
}

.menu-section .menu-items .menu-item .menu-description .order-btn a:hover {
  color: #C8A97F;
  background-color: #FFFFFF;
  border: 0.5px solid #C8A97F;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 768px) {
  .menu-section .menu-items .mb {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .menu-section .menu-items .tb-dk {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-section .menu-items .tb-dk {
    display: -ms-grid;
    display: grid;
  }
}

.chef-section {
  margin-top: 4rem;
  margin-bottom: 7rem;
}

.chef-section .chef-header {
  text-align: center;
}

.chef-section .chef-items {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 768px) {
  .chef-section .chef-items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .chef-section .chef-items {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.chef-section .chef-items .chef-item {
  padding: 1rem;
}

.chef-section .chef-items .chef-item .chef-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 2rem;
}

.chef-section .chef-items .chef-item .img-1 {
  background-image: url(/images/chef-4.jpg);
  border-radius: .6rem;
}

.chef-section .chef-items .chef-item .img-2 {
  background-image: url(/images/chef-2.jpg);
  border-radius: .6rem;
}

.chef-section .chef-items .chef-item .img-3 {
  background-image: url(/images/chef-3.jpg);
  border-radius: .6rem;
}

.chef-section .chef-items .chef-item .img-4 {
  background-image: url(/images/chef-1.jpg);
  border-radius: .6rem;
}

.chef-section .chef-items .chef-item h4 {
  font-size: 1.3rem;
}

.chef-section .chef-items .chef-item p {
  margin: 1rem 0;
  font-size: 1rem;
  color: #808080;
}

.chef-section .chef-items .chef-item a {
  font-size: 1.1rem;
  margin-right: .5rem;
  color: #C8A97F;
}

.contact-section {
  width: 100%;
  padding: 1rem 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/bg_3.jpg);
  background-attachment: fixed;
}

.contact-section .container {
  padding: 0;
}

.contact-section .contact-contents {
  background-color: #FFFFFF;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .contact-section .contact-contents {
    width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .contact-section .contact-contents {
    width: 650px;
  }
}

.contact-section .contact-contents .contact-header {
  margin-bottom: 1rem;
  text-align: center;
}

.contact-section .contact-contents .contact-inputs {
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .contact-section .contact-contents .contact-inputs {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contact-section .contact-contents .contact-inputs .input-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }
}

.contact-section .contact-contents .contact-inputs .input-items label {
  font-weight: 600;
}

.contact-section .contact-contents .contact-inputs .input-items input, .contact-section .contact-contents .contact-inputs .input-items select {
  display: block;
  outline: none;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  border: 0.5px solid #808080;
}

.contact-section .contact-contents .contact-inputs .input-items input:focus, .contact-section .contact-contents .contact-inputs .input-items select:focus {
  border: 1px solid black;
}

.contact-section .contact-contents .contact-inputs .input-btn {
  margin: 1rem 0;
}

.contact-section .contact-contents .contact-inputs .input-btn a {
  display: block;
  color: #FFFFFF;
  padding: 1rem;
  background-color: #C8A97F;
  text-align: center;
}

.contact-section .contact-contents .contact-inputs .input-btn a:hover {
  color: #C8A97F;
  background-color: #FFFFFF;
  border: 0.5px solid #C8A97F;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (min-width: 768px) {
  .contact-section .contact-contents .contact-inputs .input-btn a {
    display: inline-block;
  }
}

.testimonials-section {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.testimonials-section .testimonials-header {
  text-align: center;
}

.testimonials-section .testimonials-item {
  padding: 1rem;
  width: 100%;
}

.testimonials-section .testimonials-item p {
  color: #808080;
  text-align: center;
}

.testimonials-section .testimonials-item div {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.testimonials-section .testimonials-item p:last-child {
  font-size: 1rem;
  letter-spacing: 2px;
  color: #808080;
}

.testimonials-section .testimonials-item .testimonial-img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 2rem auto;
}

.testimonials-section .testimonials-item .testimonial-img i {
  position: absolute;
  bottom: 0;
  right: 0rem;
  background-color: #C8A97F;
  color: #FFFFFF;
  padding: .8rem;
  font-size: 1.2rem;
  border-radius: 50%;
}

.testimonials-section .img-1 {
  background-image: url(/images/person_1.jpg);
}

.testimonials-section .img-2 {
  background-image: url(/images/person_2.jpg);
}

.testimonials-section .img-3 {
  background-image: url(/images/person_3.jpg);
}

.testimonials-section .img-4 {
  background-image: url(/images/person_4.jpg);
}

.testimonials-section .img-5 {
  background-image: url(/images/person_2.jpg);
}

.testimonials-section .img-6 {
  background-image: url(/images/person_1.jpg);
}

.slick-dots {
  z-index: 100;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 10px;
  width: 10px;
  margin: 20px 0 0 5px;
  padding: 0;
}

.slick-dots li button {
  display: block;
  line-height: 0;
  font-size: 0;
  padding: 5px;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 0;
  border-radius: 100%;
  background-color: #808080;
}

li.slick-active button {
  background-color: #C8A97F;
}

.blog-section {
  padding: 10rem 0 10rem 0;
  background-color: #FAFAFA;
}

.blog-section .blog-header {
  text-align: center;
}

.blog-section .blog-posts {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .blog-section .blog-posts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }
}

.blog-section .blog-posts .blog-post {
  margin-bottom: 1rem;
  background-color: #FFFFFF;
}

.blog-section .blog-posts .blog-post .post-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.blog-section .blog-posts .blog-post .post-description {
  padding: 2rem;
}

.blog-section .blog-posts .blog-post .post-description span {
  color: #808080;
}

.blog-section .blog-posts .blog-post .post-description h4 {
  margin: 1rem 0;
}

.blog-section .blog-posts .blog-post .post-description .read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-section .blog-posts .blog-post .post-description .read-more a {
  color: #343434;
}

.blog-section .blog-posts .blog-post .post-description .read-more p {
  color: #808080;
}

.blog-section .blog-posts .img-1 {
  background-image: url(/images/image_1.jpg);
}

.blog-section .blog-posts .img-2 {
  background-image: url(/images/image_2.jpg);
}

.blog-section .blog-posts .img-3 {
  background-image: url(/images/image_3.jpg);
}

footer {
  padding: 7rem 0;
  background-color: #000000;
}

@media screen and (min-width: 768px) {
  footer .footer-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  footer .footer-items {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

footer h4 {
  margin: 3rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #FFFFFF;
}

footer p {
  color: #808080;
  font-size: 1rem;
}

footer .social-icons {
  margin: 1rem 0;
}

footer .social-icons i {
  font-size: 1.2rem;
  color: #FFFFFF;
  background-color: #343434;
  margin-right: .5rem;
  padding: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

footer .item-2 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
}

footer .item-3 a {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  display: block;
}

@media screen and (min-width: 600px) {
  footer .item-3 .insta-imgs-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer .item-3 .insta-imgs-1 .img-1 {
  background-image: url(/images/insta-1.jpg);
}

footer .item-3 .insta-imgs-1 .img-2 {
  background-image: url(/images/insta-2.jpg);
}

footer .item-3 .insta-imgs-1 .img-3 {
  background-image: url(/images/insta-3.jpg);
}

footer .item-3 .insta-imgs-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .item-3 .insta-imgs-2 .img-4 {
  background-image: url(/images/insta-4.jpg);
}

footer .item-3 .insta-imgs-2 .img-5 {
  background-image: url(/images/insta-5.jpg);
}

footer .item-3 .insta-imgs-2 .img-6 {
  background-image: url(/images/insta-6.jpg);
}

footer .item-4 input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  outline: none;
  border: none;
  color: #FAFAFA;
}

footer .item-4 .ipt {
  background-color: #343434;
}

footer .item-4 .btn {
  background-color: #C8A97F;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

p {
  font-size: 1.2rem;
  line-height: 30px;
}

.header {
  margin-top: 5rem;
  font-size: clamp(1.7rem, 5vw, 2rem);
  letter-spacing: 2px;
}

@media screen and (min-width: 600px) {
  .header {
    font-size: 3rem;
  }
}

.cursive-hd {
  position: relative;
  margin-bottom: -1rem;
  font-family: cursive;
  color: #C8A97F;
}

.container {
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 570px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/*# sourceMappingURL=main.css.map */